<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Meadowlark Travel</title>
    {{{_sections.head}}}
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Meadowlark Travel</h1>
        <img src="/img/logo.png" alt="Meadowlark Travel Logo" />
      </div>
    </header>
    <div class="container">
      {{{body}}}
      {{{_sections.scripts}}}
    </div>
    <footer>&copy; 2024 Meadowlark Travel</footer>
  </body>
</html>